.simple-card-item {
    width: 350px;
    height: 407px;
    padding: 60px;
    margin: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}
