.detailed-card-item {
    padding: 40px;
    text-align: center;
    align-items: center;
    width: 350px;
    background-color: #fff;
    border-radius: 30px;
    margin: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.detailed-card-info {
    display: flex;
    justify-content: space-between;
}

.detailed-card-info p:nth-child(2) {
    color: #ffa542;
}

.wireless {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wireless-item {
    padding: 40px;
    text-align: center;
    align-items: center;
    width: 360px;
    background-color: #fff;
    border-radius: 30px;
    margin: 40px;
    cursor: pointer;
}

.wireless-info {
    display: flex;
    justify-content: space-between;
}

.wireless-info p:nth-child(2) {
    color: #ffa542;
    padding-left: 10px;
}
